from Tkinter import *

tk = Tk()
tk.geometry('400x300')
tk.focus_set()

letters = ['d', 'm', 'a', 'e', 'r']
pos = -1
caps = False


def scroll(event):
    new_list = []
    old_list_left = []
    old_list_right = []
    global letters
    print pos, newpos
    if pos < newpos:
        if pos > 0:
            for i in range (0,pos):
                old_list_left.append(letters[i])
        for i in range(pos, newpos+1):
            new_list.append(letters[i])        
        if newpos < 4:
            for i in range(newpos+1, 5):
                old_list_right.append(letters[i])
        new_list.insert(0, new_list.pop())
        letters = old_list_left + new_list + old_list_right
    if newpos < pos:
        if newpos > 0:
            for i in range (0,newpos):
                old_list_left.append(letters[i]) 
        for i in range(newpos, pos+1):
            new_list.append(letters[i])
        if pos < 4:
            for i in range(pos+1, 5):
                old_list_right.append(letters[i])
        new_list.append(new_list.pop(0))
        letters = old_list_left + new_list + old_list_right
    print letters 
    canvas.itemconfigure(text, text=letters)

    
      

def clear(event):
    global pos
    global caps
    tk.bind('<Left>', move)
    tk.bind('<Right>', move)
    tk.bind('<Shift-Left>', move1) 
    tk.bind('<Shift-Right>', move1)
    for i in range(0, 5):
            letters[i] = letters[i].lower()
    canvas.itemconfigure(text, text=letters)
    
    pos = -1
    newpos = pos
    caps = False
    print pos, newpos

def move(event):
    global pos
    global newpos
    global caps
    if caps == True:
        for i in range(0, 5):
            letters[i] = letters[i].lower()
        if newpos > pos and event.keysym == 'Left':
            tk.bind('<Left>', move)
            tk.bind('<Shift-Left>', move1)
            pos = newpos 
        elif newpos > pos and event.keysym == 'Right':
            tk.bind('<Left>', move)
            tk.bind('<Shift-Left>', move1)
            pos = newpos + 1
            if pos > 4:
                pos = 4
        elif newpos < pos and event.keysym == 'Right':
            tk.bind('<Right>', move)
            tk.bind('<Shift-Right>', move1) 
            pos = newpos
        elif newpos < pos and event.keysym == 'Left':
            tk.bind('<Right>', move)
            tk.bind('<Shift-Right>', move1)
            pos = newpos - 1
            if pos < 0:
                pos = 0
        letters[pos] = letters[pos].upper()
        canvas.itemconfigure(text, text=letters)
    if event.keysym == 'Left' and caps == False:
        #letters.append(letters.pop(0))
        oldpos = pos
        pos = pos - 1
        if pos < 0:
            pos = 4
        elif pos > 4:
            pos = 0
    if event.keysym == 'Right' and caps == False:
        oldpos = pos
        pos = pos + 1
        if pos < - 1:
            pos = 4
        elif pos > 4:
            pos = 0
        #letters.insert(0, letters.pop())
    if caps == False:
        letters[oldpos] = letters[oldpos].lower() 
        letters[pos] = letters[pos].upper()
        canvas.itemconfigure(text, text=letters)
        newpos = pos
    caps = False
    print pos, newpos 

def move1(event):
    global pos 
    global newpos
    global caps
    tk.bind('<Return>', scroll)
    tk.bind('<Escape>', clear)
    caps = True
    if event.keysym == 'Left':
        tk.unbind('<Shift-Right>')
        #tk.unbind('<Right>')
        if newpos == pos:
            newpos = pos - 1
        elif newpos != pos:
            newpos = newpos - 1
        if newpos < 0:
            newpos = 0
        elif newpos > 4:
            newpos = 4
    if event.keysym == 'Right':
        tk.unbind('<Shift-Left>')
        #tk.unbind('<Left>')
        if newpos == pos:
            newpos = pos + 1
        elif newpos != pos:
            newpos = newpos + 1
        if newpos <  0:
            newpos = 0
        elif newpos > 4:
            newpos = 4
    if newpos < pos:
        for i in range(newpos, pos):
            letters[i] = letters[i].upper()
    elif pos < newpos:
        for i in range(pos, newpos+1): 
            letters[i] = letters[i].upper()
    canvas.itemconfigure(text, text=letters)
    print pos, newpos

canvas = Canvas(tk)
canvas.pack(expand=YES, fill=BOTH)
text = canvas.create_text(200, 150, text=letters, font=('helvetica', 32))


tk.bind('<Left>', move)
tk.bind('<Right>', move)
tk.bind('<Shift-Left>', move1)
tk.bind('<Shift-Right>', move1)



tk.mainloop()
